
* {
  box-sizing: border-box;
}

body {
    background-color: #f4f4f2;
  font-family: calibri;
}
.container{
  margin-left: 400px;
  margin-right: 400px;
}
img{
  height: 150px;
  width: 150px;
  align-items: center;
}
p{
  font-size: 15px;
}
select {
      width: 200px;
      height: 40px;
      margin: 10px;
  }
  input{
    width:200px;
    height:40px;
    margin:10px;
  }
  .button1 {
    background-color: #f08a5d;
    border: none;
    color: white;
    padding-left:150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
  }
  .myfile{
  position: absolute;
  bottom: 0;
  outline: none;
  color: transparent;
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 120px;
  cursor: pointer;
  transition: 0.5s;
  }

/* Style the header */
.header1 {

  padding: 20px;
  text-align: center;
  height: 150px;
  width: 150px;
  position: relative;
  border: 5 px solid #fff;
  border-radius: 50%;
  background: url('c1.png');
  background-size: 100% 100%;
  margin: 50px auto;
  overflow: hidden;
}
.header2{

  text-align: center;
}
.header3 {
  padding: 20px;
  text-align: left;
}



/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
